<div><h1>GET LAWN SERVICE TODAY!</h1></div>
<div><span id='text_1'>fast.  professional.  guaranteed.</span></div>
<div><span id='text_2'>Select your property type to get started!</span></div>
<div id='bird_image'>
  <%= image_tag("bird.gif") %>
</div>
<% if user_signed_in? %>
<%= link_to 'Residential', new_order_path(:account_type => 1), :class => 'blue_button', :id => 'residential_btn' %>
<%= link_to 'Commercial', new_order_path(:account_type => 1), :class => 'blue_button', :id => 'commercial_btn' %>
<% else %>
<%= link_to 'Residential', new_user_registration_path(:type => 'residential'), :class => 'blue_button', :id => 'residential_btn' %>
<%= link_to 'Commercial', new_user_registration_path(:type => 'commercial'), :class => 'blue_button', :id => 'commercial_btn' %>
<% end %>
