<h2 id='step'>Step 3: About company</h2>
<div id='vendor_step3'>
  <%= form_for @profile do |f| %>
    <%= hidden_field_tag :redirect_to, 'wizard4' %>
    <%= hidden_field_tag :id, @profile.id %>
    <div id='top_tables'>
    <div id='company_address'>
      <p id='title'>Company Address</p>
      <hr />
      <p>
        <%= f.label :name, 'Company Name' %><br />
        <%= f.text_field :name, :class => 'text' %>
      </p>
      <hr />
      <p id='address'>
        <%= f.label :address1, 'Address' %><br />
        <%= f.text_field :address1, :class => 'text' %>
      </p>
      <p id='city'>
        <%= f.label :city %><br />
        <%= f.text_field :city, :class => 'text' %>
      </p>
      <p id='state'>
        <%= f.label :state %><br />
        <%= f.text_field :state, :class => 'text' %>
      </p>
      <p id='zip'>
        <%= f.label :zip %><br />
        <%= f.text_field :zip, :class => 'text' %>
      </p>
    </div>
    <div id='company_ownership'>
      <p id='title'>Company Ownership</p>
      <hr />
      <%= fields_for :company do |ff| %>
      <p id='company_name'>
        <%= ff.label :fname, 'Owner Name' %>
      </p>
      <p id='fname'>
        <%= ff.text_field :fname, :class => 'text' %>
      </p>
      <p id='lname'>
        <%= ff.text_field :lname, :class => 'text' %>
      </p>
      <hr />
      <p id='phone'>
        <%= f.label :phone %><br />
        <%= f.text_field :phone, :class => 'text' %>
      </p>
      <p id='fax'>
        <%= ff.label :fax %><br />
        <%= ff.text_field :fax, :class => 'text' %>
      </p>
      <% end %>
      <p id='email'>
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => 'text' %>
      </p>
    </div>
    <div>

    <div id='clear'></div>
    <%= f.submit 'Next', :class => 'blue_button' %>
  <% end %>
</div>