<% if params[:type] %>
  <h2 id='step'>Step 1: Create Account</h2>
<% else %>
  <h2 id='step'>Creat New Account</h2>
<% end %>

<div id='border_content'>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <% if params[:type] == 'residential' %>
      <%= f.hidden_field :redirect, :value => 'residential' %>
    <% elsif params[:type] == 'vendor' %>
      <%= f.hidden_field :redirect, :value => 'vendor' %>
    <% else %>
      <%= f.hidden_field :redirect, :value => 'myaccount' %>
    <% end %>
    <table>
      <% unless params[:type] == 'vendor' %>
      <tr>
        <td rowspan="2" class='title'>Account Type:</td>
        <td><%= f.select :account_type_id, options_from_collection_for_select(AccountType.all, "id", "name"), :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Relationship to property (i.e. Homeowner, Property Manager, etc.)</td>
      </tr>
      <% end %>
      <tr>
        <td rowspan="2" class='title'><%= f.label :email %>*</td>
        <td><%= f.email_field :email, :autofocus => true, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Your email address.</td>
      </tr>
      <tr>
        <td rowspan="2" class='title'><%= f.label :password %>*</td>
        <td><%= f.password_field :password, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Enter a password for yourself.</td>
      </tr>
      <tr>
        <td rowspan="2" class='title'>Confirm Password*</td>
        <td><%= f.password_field :password_confirmation, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Repeat the password for confirmation.</td>
      </tr>
    </table>
    <hr />
    <div id='signup_login'>
      Already have an account? You may <%= link_to 'login', new_user_session_path %> here.
    </div>
</div>
    <div><%= f.submit "Done", :class => 'blue_button' %></div>
  <% end %>
