<h2 id='step'>Forgot your password?</h2>

<div id='border_content'>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <table>
      <tr>
        <td rowspan="2" class='title'><%= f.label :email %>*</td>
        <td><%= f.email_field :email, :autofocus => true, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Your email address.</td>
      </tr>
    </table>
    <hr id='forgot_pas' />
    <%= render "devise/shared/links" %>
</div>
    <div><%= f.submit "Send me reset password instructions", :class => 'blue_button' %></div>
  <% end %>
<div id='footer_bird'>
  <%= image_tag '/assets/bird.png' %>
</div>