<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
</script>
step 3 schedule

<%= form_for @schedule do |f| %>
  <%= f.hidden_field :order_id %>
  <p>Start Date: <%= text_field_tag :start_date, '', :id => "datepicker" %></p>
  <p>Name: <%= f.text_field :name %></p>
  <p>Period:
    <%= f.radio_button :period, 1, :checked => true %> 1
    <%= f.radio_button :period, 2 %> 2
    <%= f.radio_button :period, 3 %> 3
    <%= f.radio_button :period, 4 %> 4
    <%= f.radio_button :period, 5 %> 5
    <%= f.radio_button :period, 6 %> 6
  </p>

  <%= f.submit %>
<% end %>