<h2 id='step'>Edit Order</h2>

<div id='border_content' class='edit_order'>
  <%= form_for @order do |f| %>
    <table>
      <tr>
        <td class='order_title'><%= f.label :city %>:</td>
        <td><%= f.text_field :city, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='order_title'><%= f.label :stat %>:</td>
        <td><%= f.text_field :stat, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='order_title'><%= f.label :zip %>:</td>
        <td><%= f.text_field :zip, :class => 'text' %></td>
      </tr>
    </table>
</div>
    <div><%= f.submit "Update", :class => 'blue_button' %></div>
  <% end %>
<div id='footer_bird'>
  <%= image_tag '/assets/bird.png' %>
</div>
