<h2 id='step'>New Order</h2>

<div id='border_content' class='edit_order'>
  <%= form_for @order do |f| %>
  <%= f.hidden_field :property_id %>
  <%= hidden_field_tag :redirect_to, 'order' %>
    <table>
      <tr>
        <td class='order_title'><%= f.label :schedule_id %>:</td>
        <td>
          <%= f.select :schedule_id, options_from_collection_for_select(Schedule.all, "id", "name", @order.schedule.try(:id)), :class => 'text' %>
        </td>
      </tr>
      <tr>
        <td class='order_title'><%= f.label :size %>:</td>
        <td><%= f.text_field :size, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='order_title'><%= f.label :start_date %>:</td>
        <td><%= f.text_field :start_date, :class => 'text', :id => 'datepicker' %></td>
      </tr>
      <tr>
        <td class='order_title'><%= f.label :vendor_id %>:</td>
        <td>
          <% @vendors.each_with_index do |vendor, i| %>
            <p>
              <%= f.radio_button :vendor_id, vendor.id, :checked => (i == 0 ? true : false) %>
              Name: <%= vendor.user.profile.name %>
              Price: <%= vendor.tarif.price %>$
            </p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class='order_title'><%= f.label :comment %>:</td>
        <td><%= f.text_area :comment, :class => 'text' %></td>
      </tr>
    </table>
</div>
    <div><%= f.submit "Create", :class => 'blue_button' %></div>
  <% end %>
<div id='footer_bird'>
  <%= image_tag '/assets/bird.png' %>
</div>

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
</script>
