<h1>Order Show</h1>
<p>Property Name: <%= @order.property.profile.name %></p>
<p>Vendor Name: <%= @order.vendor.user.profile.name if @order.vendor %></p>
<p>Size: <%= @order.size %></p>
<p>Comment: <%= @order.comment %></p>
<p>Schedule:</p>
<p>Name: <%= @order.schedule_plan.try(:name) %></p>
<p>Period: <%= @order.schedule_plan.try(:period) %></p>

<p><%= link_to 'Edit Order', edit_order_path(@order) %></p>