<h2 id='step'>Step 2: Please select vendor</h2>
<div class='wizard2'>
<%= form_for @order do |f| %>
  <center><p>
    <%= f.label :size %>
    <%= f.text_field :size, :id => 'amount', :class => 'text' %>
    <%= hidden_field_tag :redirect_to, 'wizard3' %>
    <div id="slider-range" style='width:350px'></div>
  </center></p><br>

    <table>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Price</th>
        <th>Jobs done</th>
        <th>Profile</th>
      </tr>
    <% @vendors_zips.each_with_index do |vendor_zip, i| %>
        <tr>
          <td>
            <%= f.radio_button :vendor_id, vendor_zip.vendor.id, :checked => (i == 0 ? true : false) %>
          </td>
          <td><%= vendor_zip.vendor.user.profile.name %></td>
          <td><%= vendor_zip.vendor.user.profile.address1 %></td>
          <td>1</td>
          <td>1</td>
          <td>10</td>
          <td>Price: <%= vendor_zip.vendor.tarif.price %>$</td>
          <td><%= link_to 'Show profile', profile_path(vendor_zip.vendor.user.profile) %></td>
        </tr>

    <% end %>
  </table>
</div>
  <%= f.submit 'Next', :class => 'blue_button' %>
<% end %>
