<h3>Please select size of property:</h3>

<%= form_for @order do |f| %>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <% @vendors_zips.each_with_index do |vendor_zip, i| %>
    <p>
      <%= f.radio_button :vendor_id, vendor_zip.vendor.id, :checked => (i == 0 ? true : false) %>
      Name: <%= vendor_zip.vendor.user.profile.name %>
      Price: <%= vendor_zip.vendor.tarif.price %>$
    </p>
  <% end %>
  <%= f.submit 'Next', :class => 'blue_button' %>
<% end %>
