<h2 id='step'>Step 3: Please select vendor</h2>
<div class='wizard2'>
<%= form_for @order, :url => user_wizards_handler_path(:step => 3) do |f| %>
  <center><p>
    <%= f.label :size %>
    <%= f.text_field :size, :id => 'amount', :class => 'text' %>
    <%= f.hidden_field :property_id %>
    <div id="slider-range" style='width:350px'></div>
  </center></p><br>
  <center><p>
    <label>Additional service:</label><br>
          <% AdditionalService.all.each do |serv| %>
            <%= check_box_tag serv.id %><%= serv.name %><br>
            <% end %>
  </center></p><br>
    <table>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Price</th>
        <th>Additional service:</th>
      </tr>
    <% @vendors.each_with_index do |vendor, i| %>
   <% if vendor.price.size != 0 %>
        <tr>
          <td>
            <% if f.object.vendor_id %>
              <%= f.radio_button :vendor_id, vendor.id %>
            <% else %>
              <%= f.radio_button :vendor_id, vendor.id, :checked => (i == 0 ? true : false) %>
            <% end %>
          </td>
          <td><%= link_to vendor.user.profile.name, profile_path(vendor.user.profile) %></td>      
          <td>1</td>
          <td>1</td>
          <td>Price: $$$ <% vendor.price %>$</td>
          <td>
            <% AdditionalService.all.each do |serv| %>
            <%= serv.name %>: $$$<br>
            <% end %>

          </td>
        </tr>
     <%end %>
    <% end %>
  </table>
</div>
  <%= f.submit 'Next', :class => 'blue_button' %>
<% end %>
