<h2 id='step_0'>Sign In</h2>

<div id='signup'>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <table>
      <tr>
        <td rowspan="2" class='title'><%= f.label :email %>*</td>
        <td><%= f.email_field :email, :autofocus => true, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Your email address.</td>
      </tr>
      <tr>
        <td rowspan="2" class='title'><%= f.label :password %>*</td>
        <td><%= f.password_field :password, :class => 'text' %></td>
      </tr>
      <tr>
        <td class='small'>Enter a password for yourself.</td>
      </tr>
      <% if devise_mapping.rememberable? -%>
        <tr>
          <td rowspan="2" class='title'><%= f.label :remember_me %></td>
          <td><%= f.check_box :remember_me %></td>
        </tr>
        <tr>
          <td class='small'>Check remember me.</td>
        </tr>
      <% end %>
    </table>
    <hr id='signin' />
    <%= render "devise/shared/links" %>
</div>
    <div><%= f.submit "Sign in", :class => 'blue_button' %></div>
  <% end %>
<div id='signup_bird'>
  <%= image_tag '/assets/bird.png' %>
</div>