<h2 id='step'>Step 2: Add Bank Account</h2>
<div id='border_content'>
  <%= form_for @bank_account do |f| %>
    <%= hidden_field_tag :redirect_to, 'wizard3' %>
    <%= f.hidden_field :vendor_id %>
    <div id='left'>
      <div id='account_type'>
        <%= f.label :account_type %><br />
        <%= f.select(:account_type, options_for_select([['Business', 'business'],['Personal', 'personal']])) %>
      </div>
      <div id='routing_number'>
        <%= f.label :routing_number %><br />
        <%= f.text_field :routing_number, :class => 'text' %>
      </div>
    </div>
    <div id='right'>
      <div>
        <%= f.label :name, 'Name on account' %><br />
        <%= f.text_field :name, :class => 'text' %>
      </div>
      <div>
        <%= f.label :account_number %><br />
        <%= f.text_field :account_number, :class => 'text' %>
      </div>
      <div>
        <%= label_tag :re_enter_account_number %><br />
        <%= text_field_tag :re_enter_account_number, '', :class => 'text' %>
      </div>
    </div>
</div>
    <div><%= f.submit "Next", :class => 'blue_button' %></div>
  <% end %>