<h2 id='step'>Step 3: Select zip codes</h2><p>
<div class='wideblock'>
<h3><font style='color:white;font-size:120%'>Select Zip Codes:</font> <%= @zips.first.city %>, <%= @zips.first.state %> </h3>
You may choose up to <%= @vendor.plan.zips %> codes
</div><br>
<div id="notice"><%= notice %></div>
<p>
<form action='<%= vendor_wizards_handler_path(:step => 3) %>'>
<input type=hidden name=step value=3>
<%  @zips.each do |zip| %>
<% status = false
status = params[:zips].include? zip.id.to_s  if params[:zips] %>
<%= check_box_tag "zips[]",zip.id, status %> <%= zip.zipcode %>
<% end %>
<p><br><p>
<input type=submit value='Continue'>
</form>