<h2 id='step'>Step 4: Payment</h2>
<div class='wideblock'>
  <h3>Please check your details and make a payment</h3>
</div>
<table>
  <tr><td>
    <table>
    <tr><td colspan=2><h4>Your plan:</h4></td></tr>
    <tr>
    <td><b>Name: </b></td> <td><%= @vendor.plan.name %></td>
    </tr>
    <tr>
    <td><b>Price: </b></td> <td><%= @vendor.plan.price %></td>
    </tr> 
    <tr>
    <td><b>Zip codes: </b></td> <td><%= @vendor.plan.zips %></td>
    </tr>
    <tr>
    <td valign=top><b>Features: </b></td><td> <%= @vendor.plan.features.gsub(/\n/,"<br>").html_safe %></td>
    </tr>
    <tr><td></td><td> </td></tr>
    </table>
  
  </td><td valign=top>
    <h4>Your zip codes:</h4>
    <% @vendor.zip_code.each do |z| %>
       <%= z.zipcode %> 
    <% end %>
  </td></tr>
</table>

 <%= link_to "Change plan", vendor_wizards_step2_path %><br>
  <%= link_to "Change zip codes", vendor_wizards_step3_path %><br>
<h2><%= link_to "Pay and continue", vendors_path()%></21>