<!DOCTYPE html>
<html>
<head>
  <title>Sky</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to (image_tag("logo.gif")), root_path %>
<span class=phone_for_header>✆ 1-800-799-8585</span>
<div class="color_line">
<% if user_signed_in? %>
<%= link_to "Log out", destroy_user_session_path, :method=>:delete %>
<% else %>
<%= link_to "log in", new_user_session_path %>
<% end %>
</div>

<%= yield %>

</body>
</html>
