<!DOCTYPE html>
<html>
<head>
  <title>Sky</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
</head>
<body>
  <div id='container'>
    <div id='header'>
      <div id='logo'>
        <%= image_tag '/assets/logo.gif' %>
      </div>
      <div id='phone_number'>
        <span>✆ 1-800-799-8585</span>
      </div>
    </div>
    <div id='center_zone'>
      <div id='header_menu'>
        <div id='login'>
          <span><%= render 'layouts/header_menu' %></span>
        </div>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='grass'>
        <%= image_tag '/assets/grass.png' %>
        <span>"My yard looks wonderful! We will use again!"- Hallee</span>
      </div>
      <div id='about_us'>
        <div id='about_title'>
          <span><span>About us</span></span>
        </div>
        <div id='about_content'>
          We provide residential and commercial lawncare services through our nationwide network of approved vendors to homeowners, apartment managers, banks, property owners, realtors, and commercial management companies. We make it easy to schedule recurring lawn care services at competitive rates so you can relax with peace of mind.
        </div>
      </div>
      <div id='footer'>
        <div id='static_pages'>
          <%= render 'layouts/static_pages' %>
        </div>
        <div id='vendor'>
          <ul>
            <li>Become a Vendor</li>
            <li>Vendor Application</li>
          </ul>
        </div>
        <div id='social'>
          <%#= image_tag '/assets/soc.gif' %>
        </div>
        <div id='footer_bird'>
          <%= image_tag '/assets/bird.png' %>
        </div>
      </div>
    </div>
  </div>
  <div id='copyright'>
    Copyright &copy 2013 ZipMow, LLC. All rights reserved.
    <div id='social_icons'>
      <%= render 'layouts/social_networks' %>
    </div>
  </div>
</body>
</html>